.text-left{
    text-align: left !important;
    width: 80% !important;
}

text-center{
    text-align: center !important;
}

div {
    overflow: scroll;
}
.logo-container {
    display: flex;
    align-items: center;
}